#tekst{
  font-family: arial;
  font-size: 20px;
}
.box{
  display: grid;
  grid-template-rows: 1fr auto;
  margin-top: 170px;
  margin-bottom: 0;
}
#logo2{
  height: 80px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pos {
  height: 50px;
  position: relative;
  margin-top: 25px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height]   
}
.footer { 
  position: absolute;
  left: 0 ; right: 0; bottom: 0; 
  height:[footer-height];
}
footer{
  text-align: center;
  font-family: arial;
  font-size: 15px;
  background-color: rgb(34, 155, 108);
  color: black;
}
#logo{
  height: 80px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#banner{
  height: 550px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#container{
 max-width: 1400px;
  margin: 0 auto 0 auto;
  padding-bottom: 30px;
  min-height: 100%;
}
.list-group-item{
  padding-bottom: 10px !important;
  font-size: 18px;
  font-family: arial;
}
.list-group-item input{
  cursor: pointer;
  background-color: lightgray;
}
input[type=text]{
  height:50px;
  width: 1400px;
  font-size:14pt;
  font-family: arial;
}
input[type=text]:focus {
  background-color: lightblue;
}



