<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="author" content="Antoni Górecki, Matthias Nawrocki">
    <title>Ankieta została przesłana</title>
  </head>
  <body>
    <h1>Dziękujemy za Twój udział w ankiecie!</h1>
    <p>
      Życzymy miłego dnia!
    </p>
    <footer>
      <img id="logo" src="https://eti-raim-gptwebsurvey.everinho.repl.co/static/pg_poziome_logo_czarne.png">
      <p>Autorzy: <b>Antoni Górecki, Matthias Nawrocki</b></p>
      <p>&copy Wszelkie prawa zastrzeżone </p>
    </footer>
  </body>
</html>