<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="author" content="Antoni Górecki, Matthias Nawrocki">
    <title>Ankieta została przesłana</title>
  </head>
  <body>
    <center>
    <b>
    <h1 style="font-family:Garamond; color: #2ecc71; font-size:60px; text-shadow: 1px 1px rgb(0,0,0);"">Dziękujemy za Twój udział w ankiecie!</h1>
      <p style="font-family:Garamond; color: #2ecc71; font-size:40px; text-shadow: 1px 1px rgb(0,0,0);"">
        Życzymy miłego dnia!
      </p>
    </b>
      <img id="jezyk" src="https://eti-raim-gptwebsurvey.everinho.repl.co/static/jez.jpg">
    </center>
    <div class="box"> 
      <footer>
      <img id="logo2" src="https://eti-raim-gptwebsurvey.everinho.repl.co/static/pg_poziome_logo_czarne.png">
      <p>Autorzy: <b>Antoni Górecki, Matthias Nawrocki</b></p>
      <p>&copy Wszelkie prawa zastrzeżone </p>
    </footer>
    </div>
    
  </body>
</html>