<!DOCTYPE html>
<html>
  <head>
    <title>Ankieta</title>
  </head>
  <body>
    <h1>Chatbot GPT ankieta</h1>
    <img src="https://eti-raim-gptwebsurvey.everinho.repl.co/static/gpt.jpg"height="400">
    <h2>Tematyka i cele ankiety</h2>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin justo ut dui lobortis, ut vestibulum massa gravida. Nullam blandit varius dignissim. Nam id consectetur tellus. Pellentesque eu risus fermentum odio condimentum varius eu eu lacus. Maecenas fringilla varius dignissim. Nam varius, tortor nec laoreet eleifend, augue mi faucibus magna, id condimentum augue augue quis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

Fusce dignissim mattis tortor, non bibendum odio. Phasellus eu ipsum eu sapien venenatis laoreet eget et justo. Aenean non dui sed odio porta finibus sit amet eget ipsum. Ut commodo nibh semper, molestie augue sit amet, dapibus sem. In sit amet sapien placerat, ullamcorper nisl ac, rhoncus felis. Vivamus efficitur nisi quis ornare fermentum. Mauris vel ex nibh.
    </p>
    <h2>Zapraszam do wypełnienia poniższego formularza!</h2>
    <h4>Wiek</h4>
    
    <h4>Płeć</h4>
    
    <h4>Wykształcenie</h4>
    
    <h4>Miejsce zamieszkania</h4>
    
    <h4>Czy słyszałeś o chat botach, jak chat GPT?</h4>
    
    <h4>Czy zdarzyło ci się wykorzystywać chat GPT w swojej pracy/nauce?</h4>
    
    <h4>Jeżeli tak to jakie zadania wykonywałeś/aś za pomocą chatbota GPT?</h4>
    
    <h4>Czy uważasz, że chatbot GPT poprawił efektywność twojej pracy?</h4>
    
    <h4>Czy korzystałeś z chatu GPT w celu rozrywkowym?</h4>
    
  </body>
</html>