<h5>22.Jestem pozytywnie nastawiony do zastosowania chatbota GPT w Inżynierii Biomedycznej, ponieważ </h5>
<input type="text" id="op1" name="op1">
<h5>23.Jestem negatywnie nastawiony do zastosowania chatbota GPT w Inżynierii Biomedycznej, ponieważ </h5>
<input type="text" id="op2" name="op2">
<h5>24.Według mnie chatbot GPT może mieć zastosowanie w następujących zadaniach z dziedziny medycyny i Inżynierii Biomedycznej:</h5>
<input type="text" id="op3" name="op3">
<h5>25.Jakie korzyści wynikają z wykorzystania chatbota GPT w dziedzinie medycyny i Inżynierii Biomedycznej?</h5>
<input type="text" id="op4" name="op4">
<h5>26.W przyszłości zmieniłbym w chatbocie GPT następujące aspekty:</h5>
<input type="text" id="op5" name="op5">
