<h5>22.Według mnie chatbot GPT może mieć zastosowanie w następujących zadaniach z dziedziny medycyny i Inżynierii Biomedycznej:</h5>
<input type="text" id="op3" name="twenty-second">
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<h5>23.Jakie według Ciebie korzyści wynikają z wykorzystania chatbota GPT w dziedzinie medycyny i Inżynierii Biomedycznej?</h5>
<input type="text" id="op4" name="twenty-third">
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<h5>24.Jakie aspekty zmieniłbyś/zmieniłabyś w przyszłości w chatbocie GPT?</h5>
<input type="text" id="op5" name="twenty-fourth">
