        <h5>Wiek</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id="<18">
              <label class="form-check-label1" for="firstRadio">Poniżej 18 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id="18-25">
              <label class="form-check-label" for="secondRadio">18-25 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id="25-35">
              <label class="form-check-label" for="thirdRadio">25-35 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id=">35">
              <label class="form-check-label" for="fourthRadio">Powyżej 35 lat</label>
            </li>
          </ul>
        <h5>Płeć</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio2" value="" id="female">
              <label class="form-check-label" for="firstRadio">Kobieta</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio2" value="" id="male">
              <label class="form-check-label" for="secondRadio">Mężczyzna</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio2" value="" id="unknown">
              <label class="form-check-label" for="thirdRadio">Nie chcę podawać</label>
            </li>
          </ul>
        <h5>Wykształcenie</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="basic">
              <label class="form-check-label" for="firstRadio">Podstawowe</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="middle">
              <label class="form-check-label" for="secondRadio">Średnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="higher-student">
              <label class="form-check-label" for="thirdRadio">Wyższe - w trakcie studiów</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="higher">
              <label class="form-check-label" for="fourthRadio">Wyższe - zdobyte</label>
            </li>
          </ul>
        <h5>Miejsce zamieszkania</h5>
         <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Miasto/wieś poniżej 10 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Miasto 10-50 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Miasto 50-150 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Miasto 150-500 tys. mieszkańców</label>
            </li>
           <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id=">500">
              <label class="form-check-label" for="fourthRadio">Miasto powyżej 500 tys. mieszkańców</label>
            </li>
          </ul>
        <h5>Czy słyszałeś o chat botach, jak chat GPT?</h5>

        <h5>Czy zdarzyło ci się wykorzystywać chat GPT w swojej pracy/nauce?</h5>
          
        <h5>Jeżeli tak to jakie zadania wykonywałeś/aś za pomocą chatbota GPT?</h5>
          <label class="container">Skomplikowane obliczenia matetyczne
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="container">Zadanie programistyczne
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Opracowywanie zagadnień teoretycznych
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>  
          <label class="container">Generowanie obrazów na potrzeby projektów
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
	        <label class="container">Wnioski do sprawozdania
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Nie korzystałem dotąd z chatbota
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        <h5>Czy uważasz, że chatbot GPT poprawił efektywność twojej pracy?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio5" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Chatbot bardzo poprawił efektywność mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio5" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Chatbot nieco poprawił efektywność mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio5" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Chatbot wcale nie poprawił efektywności mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio5" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Chatbot pogorszył efektywność mojej pracy</label>
            </li>
          </ul>
        <h5>Czy korzystałeś z chatu GPT w celu rozrywkowym?</h5>
           <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="entertainment_yes">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="entertainment_no">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>Jak oceniasz chat GPT?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Bardzo pozytywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Raczej pozytywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Neutralnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Negatywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Nie mam zdania</label>
            </li>
          </ul>
        <h5>Jakie są Twoje wątpliwości lub obawy dotyczące wykorzystania chatbota GPT w dziedzinie Inżynierii Biomedycznej? </h5>
          <label class="container">Brak empatii i brak zrozumienia kontekstu emocjonalnego
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>    
          <label class="container">Tendencja do powtarzania błędów
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>        
          <label class="container">Niewystarczające zapewnienie prywatności
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>         
          <label class="container">Brak możliwości weryfikacji źródła informacji
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
	        <label class="container">Ograniczona wiedza dziedzinowa
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Nie mam żadnych obaw ani wątpliwości co do chatu GPT
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        <h5>Czy uważasz, że chat GPT potrafi kłamać?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio7" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio7" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>Czy uważasz, że chat GPT jest w stanie wykrywać choroby we wczesnym stadium?</h5>
  
        <h5>Czy chat GPT jest w stanie wspomagać leczenie niektórych chorób?</h5>
          
        <h5>Czy chat GPT może sprawić, że choroby na ten moment nieuleczalne mogą stać się
  uleczalne?</h5>
      
        <h5>Czy twoim zdaniem chat GPT może stanowić przełom w terapii osób chorych psychicznie?</h5>
        