        <h5>1.Wiek</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id="<18">
              <label class="form-check-label" for="firstRadio">Poniżej 18 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id="18-25">
              <label class="form-check-label" for="secondRadio">18-25 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id="25-35">
              <label class="form-check-label" for="thirdRadio">25-35 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio1" value="" id=">35">
              <label class="form-check-label" for="fourthRadio">Powyżej 35 lat</label>
            </li>
          </ul>
        <h5>2.Płeć</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio2" value="" id="female">
              <label class="form-check-label" for="firstRadio">Kobieta</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio2" value="" id="male">
              <label class="form-check-label" for="secondRadio">Mężczyzna</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio2" value="" id="unknown">
              <label class="form-check-label" for="thirdRadio">Nie chcę podawać</label>
            </li>
          </ul>
        <h5>3.Wykształcenie</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="basic">
              <label class="form-check-label" for="firstRadio">Podstawowe</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="middle">
              <label class="form-check-label" for="secondRadio">Średnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="higher-student">
              <label class="form-check-label" for="thirdRadio">Wyższe - w trakcie studiów</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio3" value="" id="higher">
              <label class="form-check-label" for="fourthRadio">Wyższe - zdobyte</label>
            </li>
          </ul>
        <h5>4.Miejsce pochodzenia</h5>
         <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Miasto/wieś poniżej 10 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Miasto 10-50 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Miasto 50-150 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Miasto 150-500 tys. mieszkańców</label>
            </li>
           <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio4" value="" id=">500">
              <label class="form-check-label" for="fourthRadio">Miasto powyżej 500 tys. mieszkańców</label>
            </li>
          </ul>
        <h5>5.Czy słyszałeś o chat botach, jak chat GPT?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio5" value="" id="entertainment_yes">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio5" value="" id="entertainment_no">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>6.Czy zdarzyło ci się wykorzystywać chat GPT w swojej pracy/nauce?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="entertainment_always">
              <label class="form-check-label" for="firstRadio">Często korzystam</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="entertainment_often">
              <label class="form-check-label" for="secondRadio">Czasami korzystam</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="entertainment_sometimes">
              <label class="form-check-label" for="secondRadio">Rzadko korzystam</label>
            </li>
             <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio6" value="" id="entertainment_never">
              <label class="form-check-label" for="secondRadio">Nigdy nie korzystałem</label>
            </li>
          </ul>
        <h5>7.Jeżeli tak to jakie zadania wykonywałeś/aś za pomocą chatbota GPT?</h5>
          <label class="checker">Skomplikowane obliczenia matetyczne
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checker">Zadanie programistyczne
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checker">Opracowywanie zagadnień teoretycznych
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>  
          <label class="checker">Generowanie obrazów na potrzeby projektów
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
	        <label class="checker">Wnioski do sprawozdania
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checker">Nie korzystałem dotąd z chatbota
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        <h5>8.Czy uważasz, że chatbot GPT poprawił efektywność twojej pracy?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio7" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Chatbot bardzo poprawił efektywność mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio7" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Chatbot nieco poprawił efektywność mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio7" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Chatbot wcale nie poprawił efektywności mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio7" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Chatbot pogorszył efektywność mojej pracy</label>
            </li>
          </ul>
        <h5>9.Czy korzystałeś z chatu GPT w celu rozrywkowym?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio8" value="" id="entertainment_always">
              <label class="form-check-label" for="firstRadio">Tak, wielokrotnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio8" value="" id="entertainment_often">
              <label class="form-check-label" for="secondRadio">Tak, często</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio8" value="" id="entertainment_sometimes">
              <label class="form-check-label" for="secondRadio">Tak, kilkukrotnie (conajmniej 1 raz)</label>
            </li>
             <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio8" value="" id="entertainment_never">
              <label class="form-check-label" for="secondRadio">Nie, nigdy</label>
            </li>
          </ul>
        <h5>10.Jak oceniasz chat GPT?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio9" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Bardzo pozytywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio9" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Raczej pozytywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio9" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Neutralnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio9" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Raczej negatywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio9" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Bardzo negatywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio9" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Nie mam zdania</label>
            </li>
          </ul>
        <h5>11.Jakie są Twoje wątpliwości lub obawy dotyczące wykorzystania chatbota GPT w dziedzinie Inżynierii Biomedycznej? </h5>
          <label class="checker">Brak empatii i brak zrozumienia kontekstu emocjonalnego
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>    
          <label class="checker">Tendencja do powtarzania błędów
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>        
          <label class="checker">Niewystarczające zapewnienie prywatności
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>         
          <label class="checker">Brak możliwości weryfikacji źródła informacji
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
	        <label class="checker">Ograniczona wiedza dziedzinowa
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checker">Nie mam żadnych obaw ani wątpliwości co do chatu GPT
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        <h5>12.Czy uważasz, że chat GPT potrafi kłamać?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio10" value="" id="<10">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio10" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>13.Czy chat GPT jest w stanie wspomagać leczenie niektórych chorób?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio11" value="" id="entertainment_yes">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio11" value="" id="entertainment_no">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>14.Czy chat GPT jest w stanie wykrywać choroby na podstawie występujących symptomów?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio12" value="" id="entertainment_yes">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio12" value="" id="entertainment_no">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>15.W jakim stopniu chat GPT może sprawić że choroby nieuleczalne staną się uleczalne?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio13" value="" id="<10">
              <label class="form-check-label" for="firstRadio">W bardzo dużym stopniu</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio13" value="" id="10-50">
              <label class="form-check-label" for="secondRadio">Znacząco</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio13" value="" id="50-150">
              <label class="form-check-label" for="thirdRadio">Lekko</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio13" value="" id="150-500">
              <label class="form-check-label" for="fourthRadio">Wcale</label>
            </li>
          </ul>
        <h5>16.Uleczalność których chorób może wzrosnąć dzięki zastosowaniu sztucznej inteligencji w formie chatbotów?</h5>
          <label class="checker">Choroby nowotworowe
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>    
          <label class="checker">Choroby neurologiczne (np: Alzheimer i Parkinson)
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>        
          <label class="checker">Choroby układu krążenia (takie jak choroba wieńcowa czy miażdżyca)
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>         
          <label class="checker">Choroby autoimmunologiczne (reumatoidalne zapalenie stawów czy toczeń)
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
	        <label class="checker">Choroby genetyczne 
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checker">Żadne z powyższych
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        <h5>17.Czy twoim zdaniem chat GPT może stanowić przełom w terapii osób cierpiących na choroby o podłożu psychicznym?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio14" value="" id="entertainment_yes">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio14" value="" id="entertainment_no">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        <h5>18.Czy uważasz, że chatbot GPT ma potencjał do rozwoju w dziedzinie Inżynierii Biomedycznej?</h5>
         <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio15" value="" id="entertainment_yes">
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio15" value="" id="entertainment_no">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        