        <h5>1.Wiek</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wiek" value="<18" required>
              <label class="form-check-label" for="firstRadio">Poniżej 18 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wiek" value="18-25" required>
              <label class="form-check-label" for="secondRadio">18-25 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wiek" value="25-35" required>
              <label class="form-check-label" for="thirdRadio">25-35 lat</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wiek" value="35" required>
              <label class="form-check-label" for="fourthRadio">Powyżej 35 lat</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>2.Płeć</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="plec" value="Kobieta" required>
              <label class="form-check-label" for="firstRadio">Kobieta</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="plec" value="Mezczyzna" required>
              <label class="form-check-label" for="secondRadio">Mężczyzna</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="plec" value="Nie podano" required>
              <label class="form-check-label" for="thirdRadio">Nie chcę podawać</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>3.Wykształcenie</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyksztalcenie" value="podstawowe" required>
              <label class="form-check-label" for="firstRadio">Podstawowe</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyksztalcenie" value="srednie" required>
              <label class="form-check-label" for="secondRadio">Średnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyksztalcenie" value="student" required>
              <label class="form-check-label" for="thirdRadio">Student</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyksztalcenie" value="wyzsze" required>
              <label class="form-check-label" for="fourthRadio">Wyższe</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>4.Miejsce zamieszkania</h5>
         <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="miescezamieszkania" value="bikini_dolne" required>
              <label class="form-check-label" for="firstRadio">Miasto/wieś poniżej 10 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="miescezamieszkania" value="10-50" required>
              <label class="form-check-label" for="secondRadio">Miasto 10-50 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="miescezamieszkania" value="50-150" required>
              <label class="form-check-label" for="thirdRadio">Miasto 50-150 tys. mieszkańców</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="miescezamieszkania" value="150-500" required>
              <label class="form-check-label" for="fourthRadio">Miasto 150-500 tys. mieszkańców</label>
            </li>
           <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="miescezamieszkania" value=">500" required>
              <label class="form-check-label" for="fourthRadio">Miasto powyżej 500 tys. mieszkańców</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>5.Czy słyszałeś o chat botach, jak chat GPT?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wiedza" value="tak" required>
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wiedza" value="nie" required>
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>6.Czy zdarzyło ci się wykorzystywać chat GPT w swojej pracy/nauce?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="praca" value="czesto" required>
              <label class="form-check-label" for="firstRadio">Często korzystam</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="praca" value="czasami" required>
              <label class="form-check-label" for="secondRadio">Czasami korzystam</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="praca" value="rzadko" required>
              <label class="form-check-label" for="secondRadio">Rzadko korzystam</label>
            </li>
             <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="praca" value="nigdy" required>
              <label class="form-check-label" for="secondRadio">Nigdy nie korzystałem/am</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>7.Jeżeli tak to jakie zadania najczęściej wykonywałeś/aś za pomocą chatbota GPT?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="zadania" value="Skomplikowane obliczenia matematyczne" required>
              <label class="form-check-label" for="firstRadio">Skomplikowane obliczenia matematyczne</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="zadania" value="Zadanie programistyczne" required>
              <label class="form-check-label" for="secondRadio">Zadanie programistyczne</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="zadania" value="Opracowywanie zagadnien teoretycznych" required>
              <label class="form-check-label" for="thirdRadio">Opracowywanie zagadnien teoretycznych</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="zadania" value="Generowanie obrazow na potrzeby projektow" required>
              <label class="form-check-label" for="fourthRadio">Generowanie obrazow na potrzeby projektow</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="zadania" value="Wnioski do sprawozdania" required>
              <label class="form-check-label" for="fourthRadio">Wnioski do sprawozdania</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="zadania" value="Nie korzystalem dotad z chatbota" required>
              <label class="form-check-label" for="fourthRadio">Nie korzystalem dotad z chatbota</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>8.Czy uważasz, że chatbot GPT poprawił efektywność twojej pracy?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="efektywnosc" value="Chatbot bardzo poprawil efektywnosc mojej pracy" required>
              <label class="form-check-label" for="firstRadio">Chatbot bardzo poprawił efektywność mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="efektywnosc" value="Chatbot nieco poprawil efektywnosc mojej pracy" required>
              <label class="form-check-label" for="secondRadio">Chatbot nieco poprawił efektywność mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="efektywnosc" value="Chatbot wcale nie poprawil efektywnosci mojej pracy" required>
              <label class="form-check-label" for="thirdRadio">Chatbot wcale nie poprawił efektywności mojej pracy</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="efektywnosc" value="Chatbot pogorszyl efektywnosc mojej pracy" required>
              <label class="form-check-label" for="fourthRadio">Chatbot pogorszył efektywność mojej pracy</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>9.Czy korzystałeś/aś z chatu GPT w celu rozrywkowym?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="rozrywka" value="Tak wielokrotnie" required>
              <label class="form-check-label" for="firstRadio">Tak, wielokrotnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="rozrywka" value="Tak czesto" required>
              <label class="form-check-label" for="secondRadio">Tak, często</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="rozrywka" value="Tak kilkukrotnie" required>
              <label class="form-check-label" for="secondRadio">Tak, kilkukrotnie (conajmniej 1 raz)</label>
            </li>
             <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="rozrywka" value="Nie nigdy" required>
              <label class="form-check-label" for="secondRadio">Nie, nigdy</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>10.Jak oceniasz chat GPT?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ocena" value="Bardzo pozytywnie" required>
              <label class="form-check-label" for="firstRadio">Bardzo pozytywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ocena" value="Raczej pozytywnie" required>
              <label class="form-check-label" for="secondRadio">Raczej pozytywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ocena" value="Neutralnie" required>
              <label class="form-check-label" for="thirdRadio">Neutralnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ocena" value="Raczej negatywnie" required>
              <label class="form-check-label" for="fourthRadio">Raczej negatywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ocena" value="Bardzo negatywnie" required>
              <label class="form-check-label" for="fourthRadio">Bardzo negatywnie</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ocena" value="Nie mam zdania" required>
              <label class="form-check-label" for="fourthRadio">Nie mam zdania</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>11.Jakie są Twoje główne wątpliwości lub obawy dotyczące wykorzystania chatbota GPT w dziedzinie Inżynierii Biomedycznej? </h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="watpliwosci" value="Brak empatii i brak zrozumienia kontekstu emocjonalnego" required>
              <label class="form-check-label" for="firstRadio">Brak empatii i brak zrozumienia kontekstu emocjonalnego</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="watpliwosci" value="Tendencja do powtarzania bledow" required>
              <label class="form-check-label" for="secondRadio">Tendencja do powtarzania bledow</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="watpliwosci" value="Niewystarczajace zapewnienie prywatnosci" required>
              <label class="form-check-label" for="thirdRadio">Niewystarczajace zapewnienie prywatnosci</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="watpliwosci" value="Brak mozliwosci weryfikacji zrodła informacji" required>
              <label class="form-check-label" for="fourthRadio">Brak mozliwosci weryfikacji zrodła informacji</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="watpliwosci" value="Ograniczona wiedza dziedzinowa" required>
              <label class="form-check-label" for="fourthRadio">Ograniczona wiedza dziedzinowa</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="watpliwosci" value="Nie mam zadnych obaw ani watpliwosci co do chatu GPT" required>
              <label class="form-check-label" for="fourthRadio">Nie mam zadnych obaw ani watpliwosci co do chatu GPT</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>12.Czy uważasz, że chat GPT potrafi kłamać?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="klamstwo" value="Tak" required>
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="klamstwo" value="Nie" required>
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>13.Czy chat GPT jest w stanie wspomagać leczenie niektórych chorób?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="leczenie" value="Tak" required>
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="leczenie" value="Nie" required>
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>14.Czy chat GPT jest w stanie wykrywać choroby na podstawie występujących symptomów?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="choroby" value="Tak" required>
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="choroby" value="Nie" required>
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>15.W jakim stopniu ChatGPT jest w stanie przyczynić się do znalezienia rozwiązań dla chorób nieuleczalnych?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="uleczalnosc" value="W bardzo duzym stopniu" required>
              <label class="form-check-label" for="firstRadio">W bardzo dużym stopniu</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="uleczalnosc" value="Znaczaco" required>
              <label class="form-check-label" for="secondRadio">Znacząco</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="uleczalnosc" value="Lekko" required>
              <label class="form-check-label" for="thirdRadio">Lekko</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="uleczalnosc" value="Wcale" required>
              <label class="form-check-label" for="fourthRadio">Wcale</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>16.Które z chorób mogą zostać lepiej zdiagnozowane i leczone dzięki zastosowaniu chatbotów opartych na sztucznej inteligencji?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyborchorob" value="Choroby nowotworowe" required>
              <label class="form-check-label" for="firstRadio">Choroby nowotworowe</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyborchorob" value="Choroby neurologiczne" required>
              <label class="form-check-label" for="secondRadio">Choroby neurologiczne (np: Alzheimer i Parkinson)</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyborchorob" value="Choroby ukladu krazenia" required>
              <label class="form-check-label" for="thirdRadio">Choroby układu krążenia (takie jak choroba wieńcowa czy miażdżyca)</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyborchorob" value="Choroby autoimmunologiczne" required>
              <label class="form-check-label" for="fourthRadio">Choroby autoimmunologiczne (reumatoidalne zapalenie stawów czy toczeń)</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyborchorob" value="Choroby genetyczne" required>
              <label class="form-check-label" for="fourthRadio">Choroby genetyczne</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="wyborchorob" value="Zadne z powyzszych" required>
              <label class="form-check-label" for="fourthRadio">Żadne z powyższych</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>17.Czy twoim zdaniem chat GPT może stanowić przełom w terapii osób cierpiących na choroby o podłożu psychicznym?</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="terapia" value="Tak" required>
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="terapia" value="Nie" required">
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <h5>18.Czy uważasz, że chatbot GPT ma potencjał do rozwoju w dziedzinie Inżynierii Biomedycznej?</h5>
         <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ibm" value="Tak" required>
              <label class="form-check-label" for="firstRadio">Tak</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="ibm" value="Nie" required>
              <label class="form-check-label" for="secondRadio">Nie</label>
            </li>
          </ul>
        