<h5>19.Rozpoznaj definicję krzesła wygenerowaną przez chatbot GPT</h5>
  <ul class="list-group">
      <li class="list-group-item">
         <input class="form-check-input me-1" type="radio" name="listGroupRadio19" value="zle" id="female">
          <label class="form-check-label" for="firstRadio">"Krzesło – jednoosobowy mebel do siedzenia z oparciem, przeważnie o konstrukcji szkieletowej. Niektóre źródła do definicji krzesła dodają określenie „bez podłokietników”, uważając ich zastosowanie za charakterystyczną cechę fotela. Inne źródła używają konsekwentnie formy „krzesło z podłokietnikami”. Jest jednym z najstarszych sprzętów w branży meblarskiej. Wykonywany najczęściej z drewna, stali, lub tworzyw sztucznych. Siedzisko i oparcie bywa tapicerowane."
</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio19" value="dobrze" id="male">
        <label class="form-check-label" for="secondRadio">"Krzesło to mebel służący do siedzenia, zwykle z oparciem i czterema nogami, choć istnieją również modele z mniejszą ilością nóg lub bez nich, a także krzesła o bardziej skomplikowanej konstrukcji. Krzesła są powszechnie używane w domach, biurach, restauracjach i innych miejscach publicznych do zapewnienia wygodnego i stabilnego siedzenia."
</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio19" value="zle" id="unknown">
        <label class="form-check-label" for="thirdRadio">"Krzesło - rzecz najczęściej wykonana z drewna przez człowieka dla człowieka(najczęściej dla człowieka). Możemy wyróżnić wiele rodzajów krzeseł min. Biurowe, kuchenne czy też do jadalni. Krzesło służy(najczęściej) do siedzenia, niektóre krzesła mają wiele funkcji extra tj, rozkładane podnóżki, ruchome rączki, regulacja wysokości itp. W wielkim skrócie krzesło to przedmiot najczęściej wykonany z drewna bądź metalu który również najczęściej służy do siedzenia na szlachetnej części ciała człowieka przy stole, biurku, bądź innych rzeczach."
</label>
      </li>
  </ul>
<h5>20.Rozpoznaj wypowiedź Janusza Korwina-Mikke wygenerowaną przez chatbot GPT</h5>
  <ul class="list-group">
      <li class="list-group-item">
         <input class="form-check-input me-1" type="radio" name="listGroupRadio20" value="dobrze" id="female">
          <label class="form-check-label" for="firstRadio">"Nie ma nic bardziej nielogicznego niż ideologia równościowa, która każe traktować nierównych w sposób równy."</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio20" value="zle" id="male">
        <label class="form-check-label" for="secondRadio">"Skok z szóstego piętra jest z całą pewnością bardziej szkodliwy niż zażywanie heroiny, aczkolwiek nie zakazujemy budowy szóstych pięter."
</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio20" value="zle" id="unknown">
        <label class="form-check-label" for="thirdRadio">"Jeśli w wyniku własnej decyzji ginie człowiek – to jego prywatna sprawa. Jeśli ginie 10.000 ludzi – to jest to 10.000 prywatnych spraw – a nie „problem społeczny."</label>
      </li>
  </ul>
<h5>21.Rozpoznaj definicję udaru wygenerowaną przez chatbot GPT</h5>
  <ul class="list-group">
      <li class="list-group-item">
         <input class="form-check-input me-1" type="radio" name="listGroupRadio21" value="zle" id="female">
          <label class="form-check-label" for="firstRadio">"Udar mózgu, zdarzenie mózgowonaczyniowe, dawniej także apopleksja – zespół objawów klinicznych związanych z nagłym wystąpieniem ogniskowego lub uogólnionego zaburzenia czynności mózgu, powstały w wyniku zaburzenia krążenia mózgowego i utrzymujący się ponad 24 godziny.
Udar mózgu może być krwotoczny (wywołany wylewem krwi do mózgu) lub niedokrwienny (wywołany zatrzymaniem dopływu krwi do mózgu), przy czym udar niedokrwienny może być również wtórnie ukrwotoczniony. Do udarów krwotocznych zalicza się krwotoki śródmózgowe i podpajęczynówkowe.
Objawy udaru zależą od lokalizacji miejsca uszkodzenia. W wielu przypadkach udar mózgu jest stanem zagrażającym życiu, jako zaburzenie wymaga bezwzględnie hospitalizacji, najlepiej na wyspecjalizowanym oddziale udarowym."</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio21" value="dobrze" id="male">
        <label class="form-check-label" for="secondRadio">"Udar (inaczej nazywany udarem mózgu lub inwalidztwem mózgowym) jest to nagłe zaburzenie przepływu krwi do mózgu, które prowadzi do uszkodzenia mózgu. Może to być spowodowane zatkanym naczyniem krwionośnym lub krwawieniem w mózgu. Objawy udaru mogą obejmować utratę zdolności do mówienia, ruchu lub koordynacji, problemy z widzeniem, zawroty głowy, bóle głowy, a w cięższych przypadkach może prowadzić do trwałych uszkodzeń mózgu lub śmierci. Szybka diagnoza i leczenie są kluczowe dla zmniejszenia ryzyka trwałych uszkodzeń mózgu i innych powikłań."</label>
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="radio" name="listGroupRadio21" value="zle" id="unknown">
        <label class="form-check-label" for="thirdRadio">"Udar mózgu jest to zespół objawów neurologicznych, powstałych w wyniku nagłego zatrzymania dopływu krwi do mózgu. Powstaje, gdy duża tętnica doprowadzająca krew do mózgu lub mała tętniczka wewnątrzmózgowa ulegnie zamknięciu, dużemu zwężeniu lub pęknięciu i nie doprowadzi krwi z tlenem i substancjami odżywczymi do określonego obszaru mózgu."</label>
      </li>
  </ul>